<div class="<%= classes.categoryButtons %>">
  <% categories.forEach(category => { %>
    <button 
      class="fa-fw <%= classes.categoryButton %>"
      tabindex="-1"
      title="<%= i18n.get(`categories.${category}`) %>"
      type="button"
      data-category="<%= category %>"
    >
      <i class="fa-solid fa-fw <%= categoryIcons[category] %>"></i>
    </button>
  <% }); %>
</div>