<div class="<%= classes.categoryButtons %>">
  <% categories.forEach(category => { %>
    <button 
      aria-selected="false"
      class="fa-fw <%= classes.categoryButton %>"
      tabindex="-1"
      title="<%= i18n.get(`categories.${category.key}`, category.message || category.key) %>"
      type="button"
      data-category="<%= category.key %>"
    >
      <i class="fa-solid fa-fw <%= categoryIcons[category.key] %>"></i>
    </button>
  <% }); %>
  <div class="<%= classes.activeIndicator %>"></div>
</div>