<div class="<%= classes.preview %>">
  <div class="<%= classes.previewEmoji %>"></div>
  <div class="<%= classes.previewName %>"></div>
  <i style="display: none;" class="<%= classes.tagIcon %> fa-solid fa-fw fa-tags"></i>
  <ul style="display: none;" class="<%= classes.tagList %>"></ul>
</div>
